@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

p{
    font-family: 'Kumbh Sans', sans-serif;
    color:   hsl(229, 23%, 23%);

}

div.container_data > p.tags_data {
    font-size: 12px;
    margin: 1px auto;
    padding: 0;
    width: fit-content;
    color:  hsl(229, 23%, 23%);
}

div.container_data > p.number_data {
    margin: 6px auto;
    padding: 0;
    width: fit-content;
}
p > strong{
    font-size: 18px;
}